body {
  background-color: #f8f9fa;
}

.sidebar {
  min-height: 100vh;
  padding: 1.5rem 1rem;
}

.sidebar a {
  color: #868ac1;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1.75rem;
  text-shadow: 0.5px 0px 0px 0px #868ac1;
  transition: color 0.2s;
}

.sidebar a:hover {
  color: #4c51a4;
  text-decoration: underline;
}

.sidebar .section-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 18px;
  color: #0e0f1b;
  text-transform: capitalize;
}

.profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.btn-create-profile {
  margin-top: 1rem;
  background-color: #6b70b3;
  color: white;
}

.btn-create-profile:hover {
  background-color: #565ba0;
}
i {
  font-size: 20px;
  padding-inline: 0.3em;
  font-weight: 600;
}
