:root {
  --color-red-90: #780a02;
  --color-red-70: #c81104;
  --color-red-45: #fb4437;
  --color-red-5: #fedad7;
  --color-red-1: #ffeceb;
  --color-yellow-90: #786002;
  --color-yellow-70: #c8a104;
  --color-yellow-45: #fbd437;
  --color-yellow-5: #fef6d7;
  --color-yellow-1: #fffbeb;
  --color-green-90: #166440;
  --color-green-70: #25a76a;
  --color-green-45: #04c86d;
  --color-green-5: #def8eb;
  --color-green-1: #eefbf5;
  --color-neutral-100: #1c1d36;
  --color-neutral-80: #373b6c;
  --color-neutral-70: #454a87;
  --color-neutral-60: #5358a2;
  --color-neutral-50: #6b70b3;
  --color-neutral-40: #868ac1;
  --color-neutral-30: #a1a4ce;
  --color-neutral-20: #bcbedc;
  --color-neutral-10: #d7d8ea;
  --color-neutral-5: #e4e5f1;
  --color-neutral-1: #f8f8fc;
  --color-neutral-0: #ffffff;
  --color-purple-70: #3f14b8;
  --color-purple-50: #6435e9;
  --color-purple-45: #7247eb;
  --color-purple-30: #9c7ef1;
  --color-purple-20: #b8a3f5;
  --color-purple-10: #d5c8f9;
  --color-purple-5: #e3dafb;
  --color-purple-1: #f1edfd;
  --color-teal-100: #084a40;
  --color-teal-90: #0c6e61;
  --color-teal-80: #109381;
  --color-teal-70: #14b8a1;
  --color-teal-60: #18ddc1;
  --color-teal-45: #47ebd4;
  --color-teal-30: #7ef1e1;
  --color-teal-20: #a3f5ea;
  --color-teal-10: #c8f9f2;
  --color-teal-5: #dafbf6;
  --color-teal-1: #edfdfb;

  --color-filterColor: #ececec;
  --color-active-color: #190849;
  --color-secondColor: #0e0f1b;
  --color-primaryColor: #0c6e61;
  --color-errorColor: rgb(155, 12, 12);
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}
