nav {
  background-color: var(--color-primaryColor);
  ul {
    list-style: none;
    li {
      cursor: pointer;
      letter-spacing: 1px;
      padding: 0.3em;
      a {
        font-weight: 700;
        transition: all 0.3s;
        font-size: 14px;
        padding: 0.5em;
        border-radius: 6px;
        &:hover {
          background-color: white;
          color: #000;
        }
        &.active {
          color: var(--color-active-color);
        }
      }
    }
  }
}
