nav {
  background-color: var(--color-primaryColor);
  ul {
    list-style: none;
    display: flex;
    transition: 0.25s;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    height: 40px;
    min-height: 40px;
    font-weight: 600;
    padding: 0 24px;
    gap: 20px;
 }
 .btn-hero-primary{
background-color: var(--color-purple-50);
    box-shadow: rgba(100, 53, 233, 0.32) 0px 4px 8px, rgba(63, 20, 184, 0.12) 0px 8px 24px;
     border-radius: 12px;
      border: none;
 
 }
  .btn-hero-primary:hover{
        background-color: var(--color-purple-70);
       
    
    }
    .btn-hero-secondary{
    background: transparent;
    color: var(--color-teal-90);
    border: none;

}
    .btn-hero-secondary:hover{
        background-color: var(--color-teal-5);
        color: var(--color-teal-100);
       
    }
.brand-title{
    color: var(--color-neutral-80);
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 28px;
    font-weight: 800;

}

.recently-funded { 
margin: 142px 0 64px 0;
    
}

.header-title{
    margin-bottom: 46px;
        text-align: center;
 
}

.recently-title {
font-size: 48px;
    letter-spacing: 0.25px;
    line-height: 64px;
    color: var(--heading-color, var(--color-neutral-100));
    font-weight: 800;
}
.card{
    
     transition: all 0.3s ease;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
    width: 270px;
    border-radius: 12px 12px 12px 12px;
}
.recently-card-img-top{
    height: 180px;
    width: 100%;
}
.recently-card-body{
    height: 153px;
    width: 250px;
}
 .card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .text-card{
    color: var(--color-neutral-100);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 32px;
}

.progress-bar{
    background-color: var(--color-primaryColor);
    border-radius: 12px;
   
}
.usage-title{
        font-size: 48px;
    letter-spacing: 0.25px;
    line-height: 64px;
    color: var(--color-neutral-100);
    font-weight: 800;
}
.text-usage-regular h4{
    font-size: 28px;
    letter-spacing: 0.005em;
    line-height: 36px;
    color: var(--color-neutral-100);
    font-weight: 800;
}
.text-usage-regular p{
     color:  var(--color-neutral-100);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.005em;
    line-height: px;
}

.btn-usage-primary
{

    border-radius: 12px;
    color: white;
    background: var(--color-primaryColor);
    box-shadow: rgba(12, 110, 97, 0.32) 0px 4px 8px, rgba(8, 74, 64, 0.12) 0px 8px 24px;

}
.btn-usage-primary:hover{
    background-color: var(--color-green-90);
   
    color: var(--color-green-1);
}
.footer h6{
       color: var(--color-neutral-110);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;

    
}
.footer ul li a{
    border-radius: 4px;
    display: inline-flex;
    height: unset;
    line-height: 20px;
    min-height: unset;
    min-width: unset;
    padding: 0px 2px;
background: transparent;
    color: var(--color-neutral-50);

}
.terminal-brand img{
    width: 150px;
}
/* @media all and (max-width: 768px) {
  nav {
    ul {
      display: none !important;
    }
  }
  nav menu {
    display: block;
  }
} */
