* {
  padding: 0px !important;
  margin: 0px !important;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  -webkit-touch-callout: none;
}
a {
  outline: none;
  text-decoration: none;
  color: #fff;
}

h2 {
  color: var(--color-secondColor);
}
